.pokemon {
    display: block;
    max-width: 160px; /* Limite de tamanho */
    width: 100%;
    color: #fff;
    margin: 0 auto;
}

.arena {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.logo-container {
    text-align: center;
}

.logo, .pokeball {
    display: block;
    margin: 0 auto;
}

.pokeball {
    width: 100px;
    margin-bottom: 20px;
    animation: fadeDown 1s ease-in-out; 
    transition: transform 0.3s, opacity 0.3s;
}

.pokeball:hover {
    transform: scale(1.1) rotate(10deg);
}

body.dark .pokeball {
    opacity: 0.5;
}
